
<h3>Post Form</h3>

<form action="<%= students_path %>" method="post">
  <%= form_tag students_path do %>
    <label>First Name:</label><br>
    <%= text_field_tag :first_name %><br>

    <label>Last Name:</label><br>
    <%= text_field_tag :last_name %><br>

    <%= submit_tag "Submit Post" %>
  <% end %>
</form>

<%= params.inspect %>
