<h1>Student Form</h1>

<%= form_tag students_path do %>
  <%= label_tag :'first_name', "First Name" %>
  <%= text_field_tag :'first_name' %>
  <%= label_tag :'last_name', "Last Name"%>
  <%= text_field_tag :'last_name' %>
  <%= submit_tag("Submit Student") %>
<% end %>



<% if @students  %>
  <ul>
    <% @students.each do |student| %>
      <li><%= student.first_name %> <%= student.last_name %></li>
    <% end %>
  </ul>
<% end %>
