<h1>Student Form</h1>

<%= form_tag students_path do %>
  <%= label_tag "first_name", "First Name:" %><br>
  <%= text_field_tag "first_name" %><br>

  <%= label_tag "last_name", "Last Name:" %><br>
  <%= text_field_tag "last_name" %><br>

  <%= submit_tag "Submit Student" %>
<% end %>
