<h1>Student Form</h1>

<% if params %>
	<%= params.inspect %>
<%end%>

<%= form_tag new_student_path do %>
	<label>First Name:</label><br>
	<%= text_field_tag :'first_name' %><br>

	<label>Last Name:</label><br>
	<%= text_field_tag :'last_name' %> <br>

	<%= submit_tag "Submit Student" %>
<%end%>
