<h3>Student Form</h3>

<%= form_for @student do |f| %>
  <%=  f.label :first_name, 'First name'  %>
  <%=  f.text_field :first_name, id: 'first_name' %>
  <br>

  <%=  f.label :last_name, 'Last name'  %>
  <%=  f.text_field :last_name, id: 'last_name'  %>
  <br>

  <%=  f.submit 'Submit Student' %>
<% end %>
