<h1>Student Form</h1>
<!-- Refactored with Rails Helper Methods -->

<%= form_tag students_path do %>
  <label>First name:</label><br>
  <%= text_field_tag :'first_name' %><br>

  <label>Last name:</label><br>
  <%= text_field_tag :'last_name' %><br>

  <%= submit_tag "Submit Student" %>

  <% end %>
</form>

<%= params.inspect %>
