<h3>Student Form</h3>

<%= form_tag students_path do %>
  <label>Student name:</label><br>
  <%= text_field_tag :'first_name' %><br>
  <%= text_field_tag :'last_name' %><br>

  <!-- <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br> -->

  <%= submit_tag "Submit Student" %>
<% end %>

<%= params.inspect %>
