<h3>Student Form</h3>

<%= form_tag students_path do %>
    <label>Student:</label><br>
    <%= text_field_tag :'student[first_name]' %><br>
    <%= text_field_tag :'student[last_name]' %><br>
   
    <label>Student description:</label><br>
    <%= text_area_tag :'student[description]' %><br>
   
    <%= submit_tag "Submit Student" %>
  <% end %>