<h3>Student Form</h3>

<%= form_tag students_path do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= label_tag 'first_name'%>
  <%= text_field_tag :'student[first_name]', '', id: 'first_name' %><br>

  <%= label_tag 'last_name'%>
  <%= text_field_tag :'student[last_name]', '', id: 'last_name' %><br>

  <%= submit_tag :'Submit Student' %>
<% end %>
