<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "INDEX", students_path %> |
<%= link_to "NEW", new_student_path %>

<%= yield %>

</body>
</html>
