<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav style="display:inline-block;">

  <%= link_to "Home", students_path %>
  <%= link_to "New Student", new_student_path %>
</nav>
<%= yield %>

</body>
</html>
